<div class="player{{i + 1}}" *ngFor="let player of players; let i = index">
  <hand class="playerHand handPos"
    [ngStyle]="{'marginLeft': -(90*players[i].hand.length/2) + 'px'}" 
    [player]="player"
    [isPlayerTurn]="player == playerTurn"
    (playedCard)="playerPlayCard($event)">
  </hand>

  <img *ngIf="player.playedCard" class="card playedCardPlayer" [src]="player.playedCard.imgSrc">
</div>


<img class="card viraPos" [src]="vira.imgSrc">

<img class="card deckPos" src="assets/cards/purple_back.png">
