.viraPos {
    position: absolute;
    margin-left: -10px;
    margin-top: -95px;
    top: 50%;
    left: 50%;
    transform: rotate(45deg); 
}

.deckPos {
    position: absolute;
    margin-left: -45px;
    margin-top: -66px;
    top: 50%;
    left: 50%
}

.playerHand {
    position: absolute;
    margin-top: -66px;
}

.handPos1 {
    left: 50%;
    top: 85%;
}

.handPos2 {
    left: 50%;
    top: 15%;
}

.handPos3 {
    left: 85%;
    top: 50%;
}

.handPos4 {
    left: 15%;
    top: 50%;
}
