.viraPos {
    position: absolute;
    margin-left: -10px;
    margin-top: -95px;
    top: 50%;
    left: 50%;
    transform: rotate(45deg); 
}

.deckPos {
    position: absolute;
    margin-left: -45px;
    margin-top: -66px;
    top: 50%;
    left: 50%
}

.playerHand {
    position: absolute;
    margin-top: -66px;

    .playerInfo {
        position: absolute;
        margin: -25px 0px 0px 100px;
    }
}

.player1 {
    .playerInfo {
        margin: 85px 0 0px -15px;
    }

    >.playedCardPlayer {
        position: absolute;
        margin-left: -45px;
        top: 60%;
        left: 50%  
    }

    >.handPos {
        left: 50%;
        top: 85%;
    }
}

.player2 {
    .playerInfo {
        margin: 85px 0 0px -15px;
    }

    >.playedCardPlayer {
        position: absolute;
        margin-top: -66px;
        top: 50%;
        left: 57%  
    }

    >.handPos {
        left: 85%;
        top: 50%;
    }
}

.player3 {
    .playerInfo {
        margin: -100px 0 0px -15px;
    }

    >.playedCardPlayer {
        position: absolute;
        margin-left: -45px;
        top: 25%;
        left: 50%  
    }

    >.handPos {
        left: 50%;
        top: 15%;
    }
}

.player4 {
    .playerInfo {
        margin: 85px 0 0px -15px;
    }

    >.playedCardPlayer {
        position: absolute;
        margin-top: -66px;
        top: 50%;
        left: 40%  
    }

    >.handPos {
        left: 15%;
        top: 50%;
    }
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline black;
}